@model FileMVC.Models.RegisterExternalLoginModel
@{
    ViewBag.Title = "Register";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Asocierea @ViewBag.ProviderDisplayName utilizatorului.</h2>
</hgroup>

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Association Form</legend>
        <p>
            Sunteti autentificat cu succes cu <strong>@ViewBag.ProviderDisplayName</strong>.
            Introduceti numele de utilizator pentru acest site si apasati butonul de confirmare pentru a 
            finisa logarea.
        </p>
        <ol>
            <li class="name">
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
        </ol>
        @Html.HiddenFor(m => m.ExternalLoginData)
        <input type="submit" value="Inregistreaza-te" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
