@model SyncModel.Data.Models.LocalPasswordModel



        @using (Html.BeginForm("Manage", "Account"))
        {
            @Html.AntiForgeryToken()

            <fieldset>
                <legend>Change Password Form</legend>                
                @Html.ValidationSummary()
                <div class="form-group">
                    @Html.LabelFor(m => m.OldPassword)
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.NewPassword)
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>

                <button type="submit" class="btn btn-primary btn-lg">Change Password</button>
            </fieldset>
        }

